

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-style: italic;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
}

h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: white;  
    margin: 15px 50px 20px 30px; 
}

h1 strong{
    color: palevioletred;
}

.hero{
    height: 300px;
    background-image: url('../Images/hero.jpg');
    background-color: #585858;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.portfolio{
    background: #F2F2F2;

}
.project{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
}

.project-details{
    width: 500px;
}

.project-imageContainer{
    width: 500px;
}

.header{
    background-color: #585858;
    color: palevioletred;   
}

.header a{
    color: palevioletred;
    text-decoration: none;
}